* {
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

h1 {
    font-size: 3rem;
}

.button {
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    border: 3px solid #000000;
    cursor: pointer;
    background-color: transparent;
    margin-top: 2rem;
}

.right {
    width: 50%;
}
