* {
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

h1 {
    font-size: 3rem;
}

.button {
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    border: 3px solid #000000;
    cursor: pointer;
    background-color: transparent;
    margin-top: 2rem;
}

.copy {
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid #000000;
    font-weight: bold;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hue {
    width: 100%;
    min-height: 33.33333vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hue1,
#hue2,
#hue3 {
    font-size: 1.5rem;
    font-weight: bold;
}
